@charset "UTF-8";

.date_area{
	padding-top:2.5em;
}
table{
	 border-collapse: separate;
	 border-spacing: 5em 2em;
}
.wrapper{
background:#F8F9FA;	
}
select{
background:#ffc107;
border-radius: 5px;
width: 11em;
height: 1.8em;
padding-left: 0.6em;
font-size: 1em;
border: 0px;
align:center;
}